<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>RSS Import template</title>
</head>
<body>
<h3>TEMPLATE</h3>
--- MARKERS ---
Class BOX				:   ###BOX###
IMAGE					:   ###IMAGE###
Class RSS TITLE			:   ###CLASS_RSS_TITLE###
RSS Title				:   ###RSS_TITLE###
URL to page				:   ###URL###
Target to URL			:   ###TARGET###
RSS Description			:   ###DESCRIPTION###
Class RSS Description	:   ###CLASS_DESCRIPTION###
Class header			:   ###CLASS_HEADER###
Header URL				:   ###HEADER_URL###
Header Target			:   ###HEADER_TARGET###
Header					:   ###HEADER###
Class pubbox 			:   ###CLASS_PUBBOX###
Class RSS Date 			:   ###CLASS_RSS_DATE###
RSS pub date			:   ###RSS_DATE###
Class author			:   ###CLASS_AUTHOR###
Author 					:   ###AUTHOR###
Class Category 			:   ###CLASS_CATEGORY###
Category 				:   ###CATEGORY###
Class Summary 			:   ###CLASS_SUMMARY###
Summary					:   ###SUMMARY###
Class Download			:   ###CLASS_DOWNLOAD###
Download				:   ###DOWNLOAD###


<!-- ###RSSIMPORT_TEMPLATE### begin -->
<!-- ###CONTENT### -->
<div class="slider">
    <!-- ###SUBSCRIBE### -->
    <!-- ###ITEM### -->
    <div data-background="" class="parallax_text inactive" data-headerurl="###HEADER_URL###">
        <h2>###HEADER###</h2>
        <h3>###SUMMARY###</h3>
        <p></p>
    </div>
    <!-- ###ITEM### -->
</div>
<div class="pi_buttonbox">
    <a class="button_red button_width_200" href="###HEADER_URL###" target="###HEADER_TARGET###">Weitere Informationen</a>
</div>
<div class="pi_buttonbox">
    <a class="button_grey button_width_200" href="###URL###" target="###TARGET###">Alle aktuellen Meldungen</a>
</div><div class="clear"></div>

<div class="parallax_slider">
    <a title="vorherige Veranstaltung" href="#prev" class="fade" id="prev_news"><em class="subhh-icon_arrow_1_left"></em></a>
    <a title="nächste Veranstaltung" href="#next" class="fade" id="next_news"><em class="subhh-icon_arrow_1_right"></em></a>
</div>
<!-- ###CONTENT### -->
<!-- ###RSSIMPORT_TEMPLATE### end -->

</body>
</html>
